/**
 * dark.css
 *
 * This is a dark stylesheet for Galleria.
 */

* {
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #41729f;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    line-height: 1.75em;
    font-weight: 200;
    font-size: 1.75em;
    margin: 0;
    padding-top: 0;
    padding-left: 10px;
}

header a {
    text-decoration: none;
    color: #fff;
}

header a:hover {
    color: #41729f;
}

footer {

}

footer a {
    text-decoration: none;
    color: #41729f;
}

footer a:hover {
    text-decoration: underline;
}

.content {
    /* width: 100%; /* used for testing */
}

nav {
    display: block;
    padding: 10px 15px 10px 0px;
    float: left;
}

main {
    display: block;
    padding: 10px 15px 10px 15px;
    /* background-color: #5555ff; /* was used for testing */
}

.hidden {
    visibility: hidden;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: #5555ff; /* was used for testin */
}

.column-one {
    border-radius: 15px;
    background-color: #111;
    width: 24%;
    float: left;

}

.vert-block {
    border-radius: 10px;
    background-color: #222222;
    padding: 15px;
    margin: 10px;
}

.block-title {
    font-size: 1.4em;
    width: 100%;
    clear: right;
}

.potd {
    margin: 0;
    padding: 0;
}

.potd img {
    width: 100%;
}

.potd figcaption {
    text-align: center;
    padding-top: 5px;
}

.num {
    font-size: 1.2em;
    font-weight: bold;
}

.column-two {
    border-radius: 15px;
    background-color: #111;
    width: 75%;
    float: left;
}

.horiz-block {
    border-radius: 10px;
    width: 99%;
    float: left;
    background-color: #222222;
    padding: 1%;
    margin: 0.5%;
    vertical-align: middle;
}

.horiz-block-column {
    width: 19%;
    float: left;
    padding: 1%;
    background-color: #000000;
    margin: 0.5%;
}

.horiz-block-img {
    max-width: 94%;
    height: 200px;
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;

}



.person-bio {

}

.long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-block {
    border-radius: 10px;
    background-color: #222222;
    padding: 15px;
    margin: 10px;
}

.list-block ul li {
	list-style-type: none;
}



/* ++++++++++++++++++++++++ TESTING ++++++++++++++++++++++++++++++++++++++++ */
 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #444;
  color: #eee;
  cursor: pointer;
  padding: 18px;
 font-size: 1.1em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #41729f;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0;
  background-color: #333;
  color: #eee;
  display: none;
  overflow: hidden;
}

.sidebar-list {
    margin: 0;
    padding: 0;
}

.sidebar-list li {
    list-style-type: none;
    margin: 0;
    padding: 3 10px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-list li:hover {
    background-color: #222;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-list li a {
    text-decoration: none;
    color: #eee;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-list li a:hover {
    background-color: #222;
    color: #41729f;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-list a {
    text-decoration: none;
    color: #eee;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-list a:hover {
    background-color: #222;
    color: #41729f;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-infobox {
    margin: 5px 10px;
    float: right;
    border: 1px solid #ffffff;
}

.artist-infobox h3 {
    text-align: center;
}

.artist-thumb img {
    margin: 5px 10px;
}

.main-article {
    padding-left: 10px;
}

.add-new-span {
    font-size: 1.3em;
    font-weight: bold;
}

.image-main {
    max-width: 99%;
    margin: 0.5%;
}
/* ******************************** inputs ************************************ */
.form-input-text {
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 0.2em 1em;
    width: 100%;
    height: 2em;
}

.form-textarea {
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 0.2em 1em;
    width: 100%;
}

.form-input-color {
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 0.2em 1em;
    width: 50%;
    height: 3em;
}

.form-input-submit {
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 1em;
    height: 3em;
}

.form-input-submit:hover {
    background-color: #41729f;
}

.form-input-delete {
    background-color: #f21313;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 1em;
    height: 3em;
}

.form-input-delete:hover {
    background-color: #000;
}

.form-select {
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 0.2em 1em;
    width: 100%;
}

.form-input-date {
    background-color: #444444;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 0.2em 1em;
    width: 100%;
}
